# libs & configs

In [1]:
from rapidfuzz import process, fuzz
import unidecode
import re
import calendar
import pandas as pd
import xlsxwriter
from openpyxl import load_workbook
import os
import sys
from pandas import to_datetime as pdDatetime
from datetime import datetime
from dateutil.relativedelta import relativedelta
from pandas import to_numeric as pdNumeric
from collections import defaultdict

In [2]:
# pega o diretorio acima de noteboosks, ou seja o do projeto principal
# current_dir = os.path.dirname(os.path.abspath(__file__)) - # isso nao funciona no jupyter , pois o __file__ e exclusivo de scrpit py
current_dir = os.getcwd()

# muda o diretorio para o projeto --
# isso é necessario para que o python consiga importar os modulos do projeto
# caso contrario, ele nao consegue achar os modulos
project_root = os.path.join(current_dir, '..')
sys.path.append(project_root)

In [3]:
from Scripts.functions import GetAno, mapear_vendedores_por_similaridade

# 00 - montando base de informaçoes

## Regioes

In [4]:
# Criar os dados com abreviações
estados_regiões = {
    "Estado": [
        "Acre", "Alagoas", "Amapá", "Amazonas", "Bahia", "Ceará", "Distrito Federal",
        "Espírito Santo", "Goiás", "Maranhão", "Mato Grosso", "Mato Grosso do Sul",
        "Minas Gerais", "Pará", "Paraíba", "Paraná", "Pernambuco", "Piauí",
        "Rio de Janeiro", "Rio Grande do Norte", "Rio Grande do Sul", "Rondônia",
        "Roraima", "Santa Catarina", "São Paulo", "Sergipe", "Tocantins"
    ],
    "Cd Uf": [
        "AC", "AL", "AP", "AM", "BA", "CE", "DF",
        "ES", "GO", "MA", "MT", "MS",
        "MG", "PA", "PB", "PR", "PE", "PI",
        "RJ", "RN", "RS", "RO", "RR",
        "SC", "SP", "SE", "TO"
    ],
    "Região": [
        "Norte", "Nordeste", "Norte", "Norte", "Nordeste", "Nordeste", "Centro-Oeste",
        "Sudeste", "Centro-Oeste", "Nordeste", "Centro-Oeste", "Centro-Oeste",
        "Sudeste", "Norte", "Nordeste", "Sul", "Nordeste", "Nordeste",
        "Sudeste", "Nordeste", "Sul", "Norte", "Norte",
        "Sul", "Sudeste", "Nordeste", "Norte"
    ]
}

## clientes °

In [5]:
# -- 1 lendo arquivos
df_clients_bling = pd.read_excel(r"..\Data\01-01-23_08-07-25\sh-clientes_bling.xlsx")
df_clients_infosoft = pd.read_excel(r"..\Data\01-01-23_08-07-25\sh-clientes_infosoft.xlsx")

# -- 2 - padroniza os nomes para maior facilidade
df_clients_infosoft.rename(columns={'Cgc Cpf':'Clie Cgc Cpf'}, 
                                inplace=True)
df_clients_bling.rename(columns={'CPF/CNPJ': 'Clie Cgc Cpf',
                                  'Nome':'Descrição', 
                                  'Endereço': 'Endereco',
                                  'UF':'Cd Uf', 
                                  'Cidade':'Nm Cidade', 
                                  'Bairro':'Bairro',
                                'Cliente desde':'Dt Cadastro', 
                                'Email':'E Mail'
                                }, inplace=True)

# -- 3 - faz o full join 
df_clientes_merge = pd.merge(df_clients_infosoft,df_clients_bling,
                                  on='Clie Cgc Cpf',   # chave primaria
                                  how='outer',    # full outer join no pandas       
                                  suffixes=('_infosoft','_bling')) # renomeias o sufixo das colunas (col1_df1,col2_df2...)

# -- 4 - filtrando para todos os clients ou seja '''full join com priorização do df1'''
cols = ['Descrição', 'Endereco', 'Cd Uf','Nm Cidade', 'Bairro', 'Dt Cadastro','E Mail'] # colunas que quero manter (na esquerda)
for col in cols: 
    df_clientes_merge[col] = df_clientes_merge[f'{col}_infosoft'].combine_first(df_clientes_merge[f'{col}_bling']) # where quando a esquerda for vazia colca conteudo da direita, colca tudo na nova coluna 
    
df_clientes_masquerade = df_clientes_merge[['Clie Cgc Cpf'] + cols] # atribui a df final o conteudo completo nas colunas novas sem esquecer da chave primeira

## nfs ~

In [6]:
'''
corrigir cod vendedores bling
nr de pedido

'''


# -- 1 - le os arquivos
df_nfs_bling = pd.read_excel(r"..\Data\01-01-23_08-07-25\sh-nfs_bling.xlsx")
df_nfs_infosoft = pd.read_excel(r"..\Data\01-01-23_08-07-25\sh-nfs_infosoft.xlsx")

# -- 2 - padroniza as colunas para evitar complicações
df_nfs_bling.rename(columns={'Data de emissão':'Dt. emissão', 
                             'Data de Saída/Entrada':'Dt Sai Ent', 
                             'Número':'Nr. nota', 
                             'CNPJ/CPF':'Clie Cgc Cpf',
                             'Código do vendedor':'Cd Vendedor', 
                             'Desconto':'Vl Total Desc', 
                             'Valor total líquido':'Vl Total Nota'
                             },inplace=True)

# -- 3 -  junta as duas df 
df_nfs_masquerade = pd.concat([df_nfs_bling,df_nfs_infosoft], axis=0)

# # -- 4 - arrumando vendedores !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
# df_nfs_masquerade['Cd Vendedor'] = df_nfs_masquerade['Cd Vendedor'].fillna('').astype(str).str.strip()

# df_nfs_masquerade, logs = mapear_vendedores_por_similaridade(df_nfs_masquerade, df_vendedores_masquerade)


# -- 5 - padroniza os tipos e filtr
df_nfs_masquerade['Clie Cgc Cpf'] = (
    df_nfs_masquerade['Clie Cgc Cpf']
    .astype(str)
    .str.strip()                  # remove espaços antes/depois
    .str.replace(r'\s+', '', regex=True)  # remove espaços internos
)
ice = ['27.191.195/0001-50',
'18.848.204/0001-42',
'08.913.661/0001-10',
 '11.990.266/0001-45',
 '05.012.654/0001-59',
 '04.466.924/0001-39',
 '44.667.686/0001-44',
 '45.385.860/0001-29',
 '41.400.310/0001-80' ]
df_nfs_masquerade = df_nfs_masquerade[~df_nfs_masquerade['Clie Cgc Cpf'].isin(ice)]
df_nfs_masquerade['Dt Sai Ent'] = pdDatetime(df_nfs_masquerade['Dt Sai Ent'] , dayfirst=True)
df_nfs_masquerade['Dt. emissão'] = pdDatetime(df_nfs_masquerade['Dt. emissão'], dayfirst=True)
df_nfs_masquerade['Vl Total Desc'] = df_nfs_masquerade['Vl Total Desc'].astype(str).str.replace(',','')
df_nfs_masquerade['Vl Total Nota'] = df_nfs_masquerade['Vl Total Nota'].astype(str).str.replace(',','')
df_nfs_masquerade['Vl Total Desc'] = pdNumeric(df_nfs_masquerade['Vl Total Desc'],errors='coerce')
df_nfs_masquerade['Vl Total Nota'] =  pdNumeric(df_nfs_masquerade['Vl Total Nota'],errors='coerce')
df_nfs_masquerade['Nr Pedido'] =  pdNumeric(df_nfs_masquerade['Nr Pedido'],errors='coerce')

## pedidos

In [7]:
df_pedidos_infosoft = pd.read_excel(r"../Data/01-01-23_08-07-25/sh-pedidos_infosoft.xlsx")
df_pedidos_bling = pd.read_excel(r'..\Data\sh-pedidos-bling.xlsx')

df_pedidos_bling.rename(columns={'CPF/CNPJ':'CNPJ - CPF', 
                                      'Valor total': 'Vl. total',
                                      'Data': 'Dt. pedido',
                                      'N煤mero do pedido': 'Nr. pedido'
                                      },inplace=True)

df_pedidos_masquerade = pd.concat([df_pedidos_infosoft,df_pedidos_bling], axis=0)

df_pedidos_masquerade.rename(columns={'CNPJ - CPF':'Clie Cgc Cpf', 
                                      'Vl. total': 'Vl venda',
                                      'Nr. pedido': 'Nr Pedido',
                                      'Dt. pedido': 'Dt. emissão'
                                      },inplace=True)

# -- 5 - padroniza os tipos e filtr
df_pedidos_masquerade['Clie Cgc Cpf'] = (
    df_pedidos_masquerade['Clie Cgc Cpf']
    .astype(str)
    .str.strip()                  # remove espaços antes/depois
    .str.replace(r'\s+', '', regex=True)  # remove espaços internos
)
ice = ['27.191.195/0001-50',
'18.848.204/0001-42',
'08.913.661/0001-10',
 '11.990.266/0001-45',
 '05.012.654/0001-59',
 '04.466.924/0001-39',
 '44.667.686/0001-44',
 '45.385.860/0001-29',
 '41.400.310/0001-80' ]
df_pedidos_masquerade = df_pedidos_masquerade[~df_pedidos_masquerade['Clie Cgc Cpf'].isin(ice)]

df_pedidos_masquerade['Nr Pedido'] = pdNumeric(df_pedidos_masquerade['Nr Pedido'])
df_pedidos_masquerade['Vl venda'] = df_pedidos_masquerade['Vl venda'].astype(str).str.replace(',','')
df_pedidos_masquerade['Vl venda'] = pdNumeric(df_pedidos_masquerade['Vl venda'])
df_pedidos_masquerade['Dt. emissão'] =  pd.to_datetime(df_pedidos_masquerade['Dt. emissão'], dayfirst=True, )

print(df_pedidos_masquerade['Dt. emissão'].sort_values())

26     2023-07-03
20     2023-07-03
5      2023-07-04
6      2023-07-04
23     2023-07-05
          ...
1469   2025-07-08
1468   2025-07-08
1466   2025-07-08
1462   2025-07-08
1467   2025-07-08
Name: Dt. emissão, Length: 1524, dtype: datetime64[ns]

## produtos

## vendedores °

In [8]:
vendedores_pix = pd.read_excel('..\Data\Posição representantes 2023 - 2024.xlsx', sheet_name='PIX REPRESENTANTES', skiprows=1)
vendedores_pix.rename(columns={'NOME':'Nm Vendedor'}, inplace=True)
vendedores_pix = vendedores_pix[vendedores_pix['Nm Vendedor'].notna()]

df_vendedores_masquerade = pd.read_excel(r'..\Data\01-01-23_08-07-25\sh-vendedores_infosoft.xlsx')
df_vendedores_masquerade = df_vendedores_masquerade[~pd.isna(df_vendedores_masquerade['Nm Vendedor'])]

df_vendedores_masquerade['Cd Vendedor'] = df_vendedores_masquerade['Cd Vendedor'].astype(float)


# 15 - faturamento completo mes ano, por "produto"

In [ ]:
''' mes / papelaria / mer_livre / sapatilha / eventos / modinha / puerilcultura / total 

total: / ....... /'''

##  16 - faturameno completo mes indivdual separado (modelo)

In [ ]:
'''
mes 
papelaria 
 mer_livre 
sapatilha 
eventos 
 modinha 
puerilcultura 
total 
'''

In [ ]:
# 1 preenchendo o modelo

# 05 - resumo de venda/faturamento - fechamento anual

In [86]:
''' mes-ano / vendas / faturado 
total / .../ '''

' mes-ano / vendas / faturado \ntotal / .../ '

In [87]:
# -- 1 - defines as bases de dados e trata certas colunas
df_nfs = df_nfs_masquerade[['Vl Total Nota','Dt. emissão']]
df_pedidos = df_pedidos_masquerade[['Vl venda','Dt. emissão']]

# -- 2 - pega os anos
anos = [2024, 2025]

# -- 3 - filtra com base nos anos e deixa penas o mes e o ano 
df_pedidos = df_pedidos[ # filtro
            (df_pedidos['Dt. emissão'].dt.year == anos[0]) |
            (df_pedidos['Dt. emissão'].dt.year == anos[1]) 
            ] 

df_nfs = df_nfs[ # filtro
            (df_nfs['Dt. emissão'].dt.year == anos[0]) |
            (df_nfs['Dt. emissão'].dt.year == anos[1]) 
            ] 

# -- 4 - trandorma em mes-ano
df_pedidos['Dt. emissão'] = df_pedidos['Dt. emissão'].dt.to_period('M')
df_nfs['Dt. emissão'] = df_nfs['Dt. emissão'].dt.to_period('M')

# -- 5 - Agrupa por mês e soma os valores
vendas_mensal = df_pedidos.groupby('Dt. emissão')['Vl venda'].sum().reset_index()
faturado_mensal = df_nfs.groupby('Dt. emissão')['Vl Total Nota'].sum().reset_index()

# -- 7 -  mergga os dois DataFrames pela coluna 'Dt. emissão'
df_raw_mes_ano = pd.merge(
    vendas_mensal,
    faturado_mensal,
    on='Dt. emissão',
    how='outer'  # inclui meses que têm apenas vendas ou apenas faturamento
).fillna(0)

# -- 8 - Ordena pelo mês-ano corretamente
df_raw_mes_ano = df_raw_mes_ano.sort_values('Dt. emissão')

# -- 9 - mud o nome ds colunas
df_raw_mes_ano.columns = ['mes-ano', 'venda', 'faturado']

total_2024_faturado = df_raw_mes_ano['faturado'].sum()
total_2024_venda = df_raw_mes_ano['venda'].sum()

print(f'2024 - total:\n faturado | venda \n {total_2024_faturado} | {total_2024_venda} ')
df_raw_mes_ano

2024 - total:
 faturado | venda
 4712258.630000001 | 4869610.580000001

    mes-ano      venda   faturado
0   2024-01  445156.41  423175.53
1   2024-02  187988.44  263371.18
2   2024-03  160810.80  164753.56
3   2024-04  234761.57  266658.30
4   2024-05  149648.48  158980.08
5   2024-06  203925.32  199868.63
6   2024-07  237206.66  219127.76
7   2024-08  558552.47  391515.80
8   2024-09  233862.85  328693.39
9   2024-10  312581.85  326704.35
10  2024-11  302750.47  278978.33
11  2024-12  194767.74  209338.41
12  2025-01  452957.02  353204.48
13  2025-02  147228.04  260836.08
14  2025-03  155155.02  181036.39
15  2025-04  256079.42  166242.16
16  2025-05  329571.32  318981.21
17  2025-06  181716.45  139288.42
18  2025-07  124890.25   61504.57

In [88]:
df_raw_mes_ano.to_excel("hdk.xlsx")

# 09 - comissões por periodos

### extract + tranform (definindo dados e juntando dados )

In [9]:
# -- 1 - defino as coluas de nossa df bruta e trago as df necessrias para o relatorio 
colunas = ['Clie Cgc Cpf','Dt. emissão', 'Nr. nota', 'Cd Vendedor', 'Vl Total Nota', 'aliquota', 'comissao', 'total']
df_comission_raw = pd.DataFrame(columns=colunas)
df_vendedores = df_vendedores_masquerade.copy() # para pegar o vendedor
df_clientes = df_clientes_masquerade.copy() # para pegar o cliente
df_pedidos = df_pedidos_masquerade.copy() # para pegar os pedidos
df_nfs = df_nfs_masquerade[['Dt. emissão', 'Nr. nota','Nr Pedido', 'Clie Cgc Cpf', 'Cd Vendedor', 'Vl Total Nota']]

# -- 1 - atribuindo infos das nfs 
df_comission_raw = pd.concat([df_comission_raw,df_nfs], axis=0)

# -- 2 - defininido o periodo (mes e ano) e filtrando nossa df
ano = 2025
mes = 6
mes2 = 7 
df_comission_raw = df_comission_raw[(df_comission_raw['Dt. emissão'].dt.year == ano) & 
                (df_comission_raw['Dt. emissão'].dt.month == mes)]

# -- 3 - fazer um semi join (pega apegas nfs que tivrem com cd vendedor) - por preucação
df_comission_raw = df_comission_raw[df_comission_raw['Cd Vendedor'].isin(df_vendedores['Cd Vendedor'])] #  pandas não tem suporte direto para semi join o jeito a epanas filtrar oque e muito pratico!

# -- 4 - fazer merge para epgar o nome dos vendedores pelo cod, posteriormente pegar o supervisor e aliquota tambem 
df_comission_raw['aliquota'] = 7 # temporario
df_comission_raw = df_comission_raw.merge(df_vendedores[['Cd Vendedor', 'Nm Vendedor','Nm supervisor']], 
                             on='Cd Vendedor', how='left')

# -- 5 - fazer merge para pegar o nome do cliente (left join em duas colunas basicamente..)
df_comission_raw = df_comission_raw.merge(df_clientes[['Clie Cgc Cpf', 'Descrição']],
                      on='Clie Cgc Cpf', how='left')

# -- 6 - merge para pegar o valor do pedido
df_comission_raw = df_comission_raw.merge(df_pedidos[['Nr Pedido', 'Vl venda']],
                      on='Nr Pedido', how='left')

# -- 7 -  definindo comissão a ser recebida 
df_comission_raw['comissao'] = df_comission_raw['Vl Total Nota']*(df_comission_raw['aliquota']/100)

# -- 8 - definindo clientes novos
df_clientes_novos = df_clientes[df_clientes['Dt Cadastro'] > datetime(ano, mes, 1)]
df_clientes_novos['cliente_nv'] = 20

# -- 9 - fazendo merge para atribuir os clientes novos 
df_comission_raw = df_comission_raw.merge(df_clientes_novos[['Clie Cgc Cpf', 'cliente_nv']],
                      on='Clie Cgc Cpf', how='left', suffixes=('_raw','_new'))

# -- 10 - definindo comissão total 
df_comission_raw['total'] = df_comission_raw['cliente_nv'].fillna(0)+df_comission_raw['comissao'].fillna(0)

# -- 11 - atribuindo apenas informações necessarias
df_comission_raw = df_comission_raw[['Nm supervisor', 'Nm Vendedor','Dt. emissão', 'Nr. nota','Descrição','Vl venda', 'Vl Total Nota','aliquota','comissao','cliente_nv','total']]


# --- 12 - susbtituindo os supervisores vazios para sem supervisor 
df_comission_raw['Nm supervisor'] = df_comission_raw['Nm supervisor'].replace(['', ' ', 'nan', None], 'SEM SUPERVISOR')

# -- 13 - Ordenando para gerar linha linha excel
df_detalhes = df_comission_raw.sort_values(by=['Nm supervisor', 'Nm Vendedor', 'Dt. emissão']) 
df_detalhes['comissao'] = df_detalhes['comissao'].round(2)
#-- 14 - define os subtotais por vendedor 
subtotal_vendedor = df_comission_raw.groupby(['Nm supervisor', 'Nm Vendedor']).agg(
    total_venda=('Vl venda', 'sum'),
    total_faturado=('Vl Total Nota', 'sum'),
    total_comissao=('comissao', 'sum'),
    total_cliente_nv=('cliente_nv', 'sum'),
    total_total=('total', 'sum')
).reset_index()

# arredonda tudo para 2 casas
subtotal_vendedor[['total_venda', 'total_faturado', 'total_comissao', 'total_cliente_nv', 'total_total']] = \
    subtotal_vendedor[['total_venda', 'total_faturado', 'total_comissao', 'total_cliente_nv', 'total_total']].round(2)

# -- 15 - ve se o supervisor tambem e vendedor para na hora de gara os 3% do supervisor nao incluir se ele for eh_vendedor tiver true 

# -- 16 - Cria base com todos os supervisores únicos
todos_supervisores = df_comission_raw['Nm supervisor'].dropna().unique()
todos_supervisores = todos_supervisores[todos_supervisores != 'SEM SUPERVISOR']
resumo_supervisor = pd.DataFrame(index=todos_supervisores)

# -- 16.1 - Extrai subtotais de supervisores que também atuaram como vendedores
totais_supervisor = subtotal_vendedor[
    subtotal_vendedor['Nm supervisor'] == subtotal_vendedor['Nm Vendedor']
][['Nm supervisor', 'total_comissao', 'total_cliente_nv']].set_index('Nm supervisor')

# Junta os totais no resumo (pode ter NaN depois)
resumo_supervisor = resumo_supervisor.join(totais_supervisor, how='left')

# -- 17 - Define o faturamento dos subordinados para cálculo dos 3%
faturamento_subordinados = df_comission_raw[
    # Regra 1: vendedor diferente do supervisor
    (df_comission_raw['Nm supervisor'] != df_comission_raw['Nm Vendedor']) |
    # Regra 2: exceção — FLAVIO E LILIAN pegam tudo
    (df_comission_raw['Nm Vendedor'] == 'FLAVIO E LILIAN')
].groupby('Nm supervisor')['Vl Total Nota'].sum().rename("faturamento_subordinados")

# Calcula os 3%
comissao_extra = faturamento_subordinados * 0.03
comissao_extra.name = 'comissao_extra_3pct'

# Junta no resumo
resumo_supervisor = resumo_supervisor.join(comissao_extra, how='left')


# -- 18 - Finaliza o resumo preenchendo nulos e somando
resumo_supervisor = resumo_supervisor.fillna(0)

resumo_supervisor['comissao_final'] = (
    resumo_supervisor['total_comissao'] +
    resumo_supervisor['comissao_extra_3pct']
)
colunas_resumo = ['total_comissao', 'comissao_extra_3pct', 'comissao_final']
resumo_supervisor[colunas_resumo] = resumo_supervisor[colunas_resumo].round(2)

# -- GAMBIARRA - PEGA O PIX E FAVORECIdo 
df_detalhes = df_detalhes.merge(vendedores_pix[['Nm Vendedor','FAVORECIDO','CHAVE']], 
                                on='Nm Vendedor', how='left')

# -- 19 - separa em duas df: sem e com supervisores, pois no relatorios tem estruturas diferentes.. 
df_com_supervisor = df_detalhes[
    (df_detalhes['Nm supervisor'].notna()) & 
    (df_detalhes['Nm supervisor'] != 'SEM SUPERVISOR')
]
df_sem_supervisor = df_detalhes[
    df_detalhes['Nm supervisor'] == 'SEM SUPERVISOR'
]

# -- 20 - tranforma adta em string para evitar complicações na hora de gerar o relatorio


colunas_monetarias = ['Vl venda', 'Vl Total Nota', 'comissao', 'cliente_nv', 'total']
for col in colunas_monetarias:
    df_com_supervisor[col] = pd.to_numeric(df_com_supervisor[col], errors='coerce').round(2)
    df_sem_supervisor[col] = pd.to_numeric(df_sem_supervisor[col], errors='coerce').round(2)

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3236\2623968392.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_comission_raw = pd.concat([df_comission_raw,df_nfs], axis=0)
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3236\2623968392.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clientes_novos['cliente_nv'] = 20
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3236\2623968392.py:131: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_com_supervisor[col] = pd.to_numeric(df_com_supervisor[col], errors='coerce').round(2)
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3236\2623968392.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sem_supervisor[col] = pd.to_numeric(df_sem_supervisor[col], errors='coerce').round(2)

### load(gera relatorios linha a linha e salva em todos os lugares) 09 - comissoes e resumo de comissoes

In [10]:
path_relatorio = fr'g:\Meu Drive\MASQUERADE\FINANCEIRO\RELATORIOS\COMISSOES\06-2025 em diante\relatorio_comissao_0{mes}-0{mes2}_{ano}.xlsx'
workbook = xlsxwriter.Workbook(path_relatorio)
worksheet = workbook.add_worksheet('Relatório')

# Formatações
titulo = workbook.add_format({
    'bold': True, 
    'bg_color': "#A7A7A7", 
    'border': 6,
    'align': 'center', 'valign': 'vcenter'
})
supervisor_format = workbook.add_format({
    'bold': True, 
    'bg_color': "#6680F0", 
    'border': 6,
    'align': 'center', 'valign': 'vcenter'
})
vendedor_format = workbook.add_format({
    'bold': True, 
    'bg_color': "#60A165", 
    'border': 6,
    'align': 'center', 'valign': 'vcenter'
})
cols = workbook.add_format({
    'border': 6, 
    'bg_color': "#92D397", 
    'align': 'center', 'valign': 'vcenter'
})
infos = workbook.add_format({
    'border': 2, 
    'align': 'center', 'valign': 'vcenter'
})
infos_num = workbook.add_format({
    'border': 2, 
    'align': 'center', 'valign': 'vcenter',
    'num_format': 'R$ #.##0,00'
})
worksheet.merge_range('A1:H1', f"relatorio de comissão do mes {mes}/{2025} para pagar no mes {mes2}/{2025}", titulo)
linha = 3

# Supervisores
for supervisor in df_com_supervisor['Nm supervisor'].unique():
    worksheet.merge_range(linha, 0, linha, 2,  f"SUPERVISOR: {supervisor}", supervisor_format)
    linha += 2

    vendedores = df_com_supervisor[df_com_supervisor['Nm supervisor'] == supervisor]['Nm Vendedor'].unique()
    for vendedor in vendedores:
        worksheet.write(linha, 2, f"VENDEDOR: {vendedor}", vendedor_format)
        linha += 1

        headers = ["Data emissão", "NF", "Cliente", "Venda", "Faturado", "Comissão", "Cliente NV", "Total"]
        for col, header in enumerate(headers, start=0):
            worksheet.write(linha, col, header, cols)
        linha += 1

        vendas = df_com_supervisor[
            (df_com_supervisor['Nm supervisor'] == supervisor) &
            (df_com_supervisor['Nm Vendedor'] == vendedor)
        ]
        colunas_numericas = [3, 4, 5, 6, 7]
        for _, row in vendas.iterrows():
            dados = [
                row['Dt. emissão'],
                f"NF {row['Nr. nota']}",
                row['Descrição'],
                row['Vl venda'],
                row['Vl Total Nota'],
                row['comissao'],
                row['cliente_nv'],
                row['total']
            ]
            for col, val in enumerate(dados, start=0):
                val = "" if pd.isna(val) else val
                estilo = infos_num if col in colunas_numericas else infos
                worksheet.write(linha, col, val, estilo)
            linha += 1

        subtot = subtotal_vendedor[
            (subtotal_vendedor['Nm supervisor'] == supervisor) &
            (subtotal_vendedor['Nm Vendedor'] == vendedor)
        ]
        if not subtot.empty:
            worksheet.write(linha, 2    , "TOTAL:", cols)
            worksheet.write(linha, 3, subtot['total_venda'].values[0], infos_num)
            worksheet.write(linha, 4, subtot['total_faturado'].values[0], infos_num)
            worksheet.write(linha, 5, subtot['total_comissao'].values[0], infos_num)
            worksheet.write(linha, 6, subtot['total_cliente_nv'].values[0], infos_num)
            worksheet.write(linha, 7, subtot['total_total'].values[0], infos_num)
            linha += 2
    resumo = resumo_supervisor.loc[supervisor]
    worksheet.write(linha, 2, f"→ Comissão cliente NV {supervisor}:", cols)
    worksheet.write(linha, 3, resumo['total_cliente_nv'], infos_num)
    worksheet.write(linha + 1, 2, f"→ 3% do grupo do {supervisor}:", cols)
    worksheet.write(linha + 1, 3, resumo['comissao_extra_3pct'], infos_num)
    worksheet.write(linha + 2, 2, f"→ TOTAL COMISSÃO FINAL {supervisor}:", cols)
    worksheet.write(linha + 2, 3, resumo['comissao_final'], infos_num)
    linha += 5

# Vendedores sem supervisor
for vendedor in df_sem_supervisor['Nm Vendedor'].unique():
    worksheet.write(linha, 2, f"VENDEDOR: {vendedor}", vendedor_format)
    linha += 1

    headers = ["Data emissão", "NF", "Cliente", "Venda", "Faturado", "Comissão", "Cliente NV", "Total"]
    for col, header in enumerate(headers, start=0):
        worksheet.write(linha, col, header, cols)
    linha += 1

    vendas = df_sem_supervisor[df_sem_supervisor['Nm Vendedor'] == vendedor]
    colunas_numericas = [3, 4, 5, 6, 7]
    for _, row in vendas.iterrows():
        dados = [
            row['Dt. emissão'],
            f"NF {row['Nr. nota']}",
            row['Descrição'],
            row['Vl venda'],
            row['Vl Total Nota'],
            row['comissao'],
            row['cliente_nv'],
            row['total']
        ]
        for col, val in enumerate(dados, start=0):
            val = "" if pd.isna(val) else val
            estilo = infos_num if col in colunas_numericas else infos
            worksheet.write(linha, col, val, estilo)
        linha += 1

    subtot = subtotal_vendedor[subtotal_vendedor['Nm Vendedor'] == vendedor]
    if not subtot.empty:
        worksheet.write(linha, 2, "TOTAL:", cols)
        worksheet.write(linha, 3, subtot['total_venda'].values[0], infos_num)
        worksheet.write(linha, 4, subtot['total_faturado'].values[0], infos_num)
        worksheet.write(linha, 5, subtot['total_comissao'].values[0], infos_num)
        worksheet.write(linha, 6, subtot['total_cliente_nv'].values[0], infos_num)
        worksheet.write(linha, 7, subtot['total_total'].values[0], infos_num)
        linha += 2

# Fecha corretamente o arquivo
workbook.close()

In [11]:
resumo_supervisor

,total_comissao,total_cliente_nv,comissao_extra_3pct,comissao_final
ALDO,305.04,0.0,0.00,305.04
RAFAEL,0.00,0.0,1152.09,1152.09
ANDREIA,1551.69,0.0,131.18,1682.87
FLAVIO E LILIAN,75.22,0.0,32.24,107.46
MELISSA SACRAMENTO,2680.36,0.0,531.98,3212.34

In [12]:
# Garantir que 'Nm Vendedor' seja o index para facilitar
subtotal_vendedor = subtotal_vendedor.set_index('Nm Vendedor')

# Loop nos nomes do resumo_supervisor (supervisores)
for nome_supervisor in resumo_supervisor.index:
    if nome_supervisor in subtotal_vendedor.index:
        # Soma a comissão de supervisor no total do vendedor
        subtotal_vendedor.loc[nome_supervisor, 'total_comissao'] = resumo_supervisor.loc[nome_supervisor, 'comissao_final']
    else:
        # Se o supervisor não é vendedor, adiciona nova linha
        subtotal_vendedor.loc[nome_supervisor] = resumo_supervisor.loc[nome_supervisor, 'comissao_final']

# Resetar index se necessário
subtotal_vendedor = subtotal_vendedor.reset_index()

# resumo
path_resumo = fr'g:\Meu Drive\MASQUERADE\FINANCEIRO\RELATORIOS\COMISSOES\06-2025 em diante\resumo_comissao_0{mes}-0{mes2}_{ano}.xlsx'
workbook = xlsxwriter.Workbook(path_resumo)
worksheet = workbook.add_worksheet('Resumo')

linha = 0

titulo = workbook.add_format({
    'bold': True, 
    'bg_color': "#A7A7A7", 
    'border': 6,
    'align': 'center', 'valign': 'vcenter'
})
cols = workbook.add_format({
    'border': 6, 
    'bold': True,
    'bg_color': "#72AC76", 
    'align': 'center', 'valign': 'vcenter'
})
infos = workbook.add_format({
    'border': 2, 
    'bg_color': "#94EEA3", 
    'align': 'center', 'valign': 'vcenter'
})
infos_num = workbook.add_format({
    'border': 2, 
    'bg_color': "#94EEA3", 
    'align': 'center', 'valign': 'vcenter',
        'num_format': 'R$ #.##0,00'
})


worksheet.merge_range('A1:G1', f'POSIÇÃO DE COMISSÕES DOS REPRESENTANTES 0{mes} PAGAMENTO EM 0{mes2}/{ano}', titulo)
linha += 1

headers = ['REPRESENTANTE',	'COMISSÃO',	'BANCO', 'AG.', 'CONTA', 'FAVORECIDO', 'CPF/CNPJ']
for col, header in enumerate(headers, start=0):
    worksheet.write(linha, col, header, cols)
    
linha += 1

for vendedor in subtotal_vendedor['Nm Vendedor'].unique():
    worksheet.write(linha, 0, vendedor, infos)
    worksheet.write(linha, 3, '', infos)
    worksheet.write(linha, 4, '', infos)
    worksheet.write(linha, 5, '', infos)
    worksheet.write(linha, 6, '', infos)
    worksheet.write(linha, 2, 'PIX', infos)

    valor = subtotal_vendedor.loc[
        subtotal_vendedor['Nm Vendedor'] == vendedor, 'total_comissao'
    ].values[0]

    worksheet.write(linha, 1, valor, infos_num)
    linha += 2
    
workbook.close()

In [13]:
resumo_supervisor

,total_comissao,total_cliente_nv,comissao_extra_3pct,comissao_final
ALDO,305.04,0.0,0.00,305.04
RAFAEL,0.00,0.0,1152.09,1152.09
ANDREIA,1551.69,0.0,131.18,1682.87
FLAVIO E LILIAN,75.22,0.0,32.24,107.46
MELISSA SACRAMENTO,2680.36,0.0,531.98,3212.34

### graficos

In [14]:
df_detalhes

,Nm supervisor,Nm Vendedor,Dt. emissão,Nr. nota,Descrição,Vl venda,Vl Total Nota,aliquota,comissao,cliente_nv,total,FAVORECIDO,CHAVE
0,ALDO,ALDO,2025-06-06,7313,PALHACINHO MODAS LTDA ( EDSON),1059.80,1059.80,7,74.19,NaN,74.1860,NaN,NaN
1,ALDO,ALDO,2025-06-13,7323,PALHACINHO MODAS LTDA ( EDSON),1839.20,1839.20,7,128.74,NaN,128.7440,NaN,NaN
2,ALDO,ALDO,2025-06-27,7344,PEQUENA REALEZA TUPA LTDA,1458.74,1458.74,7,102.11,NaN,102.1118,NaN,NaN
3,ANDREIA,AMERIPEL CARLOS,2025-06-27,7340,PAPELARIA AVENIDA LTDA,2069.20,2069.20,7,144.84,20.0,164.8440,NaN,NaN
4,ANDREIA,ANDREIA,2025-06-06,7315,NIPON ARTIGOS PARA FESTAS LTDA,5596.99,5596.99,7,391.79,NaN,391.7893,NaN,NaN
5,ANDREIA,ANDREIA,2025-06-06,7316,PARAISO FANTASIAS COMERCIO,7777.50,7777.50,7,544.43,NaN,544.4250,NaN,NaN
6,ANDREIA,ANDREIA,2025-06-13,7321,TELEMASTER PHONES COMERCIO LTDA,2637.20,2637.20,7,184.60,NaN,184.6040,NaN,NaN
7,ANDREIA,ANDREIA,2025-06-13,7322,NIPON ARTIGOS PARA FESTAS LTDA,1507.68,1507.68,7,105.54,NaN,105.5376,NaN,NaN
8,ANDREIA,ANDREIA,2025-06-23,7333,NIPON ARTIGOS PARA FESTAS LTDA,1538.78,1538.78,7,107.71,NaN,107.7146,NaN,NaN
9,ANDREIA,ANDREIA,2025-06-25,7334,NIPON ARTIGOS PARA FESTAS LTDA,769.39,769.39,7,53.86,NaN,53.8573,NaN,NaN
10,ANDREIA,ANDREIA,2025-06-27,7341,E. M. LEITE - FANTASIAS,2339.40,2339.40,7,163.76,NaN,163.7580,NaN,NaN
11,ANDREIA,CARLOS NUNES,2025-06-03,7304,MUNDO ENCANTADO DE FANTASIAS LTDA,2303.40,2303.40,7,161.24,NaN,161.2380,NaN,NaN
12,FLAVIO E LILIAN,FLAVIO E LILIAN,2025-06-04,7308,BJL DISTRIBUIDORA LTDA,1074.60,1074.60,7,75.22,NaN,75.2220,NaN,NaN
13,MELISSA SACRAMENTO,EDILMA,2025-06-06,7311,CENTER BRINK VARIEDADES LTDA,1690.52,1690.52,7,118.34,NaN,118.3364,NaN,NaN
14,MELISSA SACRAMENTO,EDILMA,2025-06-20,7326,FLASH UNIVERSO IMPORTACAO DE PRODUTOS LTDA,3720.00,3720.00,7,260.40,20.0,280.4000,NaN,NaN
15,MELISSA SACRAMENTO,EDILMA,2025-06-25,7337,DOCE LAR UTILIDADES E PRESENTES LTDA,1214.50,1214.50,7,85.02,20.0,105.0150,NaN,NaN
16,MELISSA SACRAMENTO,EDILMA,2025-06-27,7338,MAGAZINE MILKOISAS LTDA,4650.90,4650.90,7,325.56,20.0,345.5630,NaN,NaN
17,MELISSA SACRAMENTO,EDILMA,2025-06-27,7343,ODILON AQUINO DE SOUZA,1257.00,1257.00,7,87.99,20.0,107.9900,NaN,NaN
18,MELISSA SACRAMENTO,GAÚCHO,2025-06-27,7342,RECOMECAR FESTAS 2 LTDA,1528.00,1528.00,7,106.96,20.0,126.9600,NaN,NaN
19,MELISSA SACRAMENTO,MELISSA SACRAMENTO,2025-06-04,7306,IMPAKTO SISTEMA DE LIMPEZA E DESCATAVEIS LTDA,NaN,8997.70,7,629.84,NaN,629.8390,NaN,NaN
20,MELISSA SACRAMENTO,MELISSA SACRAMENTO,2025-06-04,7307,IMPAKTO SISTEMAS DE LIMPEZA E DESCARTAVEIS LT,NaN,10192.77,7,713.49,NaN,713.4939,NaN,NaN
21,MELISSA SACRAMENTO,MELISSA SACRAMENTO,2025-06-10,7318,L FROTA NOGUEIRA COSTA LTDA,2124.80,2124.80,7,148.74,NaN,148.7360,NaN,NaN
22,MELISSA SACRAMENTO,MELISSA SACRAMENTO,2025-06-10,7319,KAZZARI COMERCIO DE PRODUTOS PARA FESTAS E EVE...,3337.97,3337.97,7,233.66,NaN,233.6579,NaN,NaN
23,MELISSA SACRAMENTO,MELISSA SACRAMENTO,2025-06-17,7324,MARA & FLORA BRINQUEDOS EDUCATIVOS LTDA,6400.68,6400.68,7,448.05,NaN,448.0476,NaN,NaN
24,MELISSA SACRAMENTO,MELISSA SACRAMENTO,2025-06-20,7328,MARA & FLORA BRINQUEDOS EDUCATIVOS LTDA,6402.72,6402.72,7,448.19,NaN,448.1904,NaN,NaN
25,MELISSA SACRAMENTO,MELISSA SACRAMENTO,2025-06-20,7329,LUCIMARA GEMA DE SOUZA,834.20,834.20,7,58.39,NaN,58.3940,NaN,NaN
26,MELISSA SACRAMENTO,SERGIO ROBERTO,2025-06-06,7310,EMBALAGENS RAYA COMERCIO E DISTRIBUICAO LTDA,3671.58,3671.58,7,257.01,NaN,257.0106,NaN,NaN
27,RAFAEL,AGW REPRESENTAÇOES COMERCIAIS,2025-06-06,7317,ROSANA APARECIDA SCHEIFER DE CASTILHO,11986.20,11986.20,7,839.03,NaN,839.0340,NaN,NaN
28,RAFAEL,AGW REPRESENTAÇOES COMERCIAIS,2025-06-25,7336,ONEZIA - FANTASIAS E ACESSORIOS EIRELI,12470.82,12470.82,7,872.96,NaN,872.9574,NaN,NaN
29,RAFAEL,AGW REPRESENTAÇOES COMERCIAIS,2025-06-27,7339,AUREO MIGUEL MARTINS ALVES EIRELI,12470.83,12470.83,7,872.96,NaN,872.9581,NaN,NaN
30,RAFAEL,REGINA-HERCULES,2025-06-05,7309,DEUSELINA BERNARDES DE ASSUNCAO 81609426134,1475.10,1475.10,7,103.26,NaN,103.2570,NaN,NaN
31,SEM SUPERVISOR,DIRETO,2025-06-06,7312,MANU MAKE BIJU COMERCIO DE BIJUTERIAS LTDA,6014.55,6014.55,7,421.02,20.0,441.0185,NaN,NaN
32,SEM SUPERVISOR,DIRETO,2025-06-20,7327,JULIPLAST EMBALAGENS LTDA,1464.30,1464.30,7,102.50,NaN,102.5010,NaN,NaN
33,SEM SUPERVISOR,JOYCE MENEZES,2025-06-04,7305,LILOOU KIDS LTDA,3370.60,3370.60,7,235.94,NaN,235.9420,NaN,NaN
34,SEM SUPERVISOR,JOYCE MENEZES,2025-06-06,7314,LILOOU KIDS LTDA,2040.80,2040.80,7,142.86,NaN,142.8560,NaN,NaN

# 01 - clientes novos por regiao por periodo ou vendedor

In [ ]:
''' mes / centro oeste / ...... / sul / total
total / ..... /  '''

In [68]:


# -- 1 - definindo dfs e colunas
df_clientes = df_clientes_masquerade[['Cd Uf','Nm Cidade','Dt Cadastro']]
df_estados_regiões = pd.DataFrame(estados_regiões)
df_novos = ['regiao', 'Nm cidade', 'Quant']

# -- 2 - definindo a região 
df_clientes = df_clientes.merge(df_estados_regiões[['Cd Uf', 'Região']],
                                on='Cd Uf', how='left' )

# -- 3 definindo periodo 
anos_meses = {2024: [1,2,3,4,5,6,8,9,10,11,12],
        2025: [1,2,3,4,5,6]}

# -- 4 - filtrando pelo peridodo
dados = [] # paera pord4er atribuir tudo depois 

for ano, meses in anos_meses.items():
    for mes in meses:
        primeiro_dia = datetime(ano, mes, 1)
        ultimo_dia = (primeiro_dia + relativedelta(months=1)) - relativedelta(days=1)
        
        df_novos_raw = df_clientes[
            (df_clientes['Dt Cadastro'] >= primeiro_dia) & 
            (df_clientes['Dt Cadastro'] <= ultimo_dia)
        ]

        for index, row in df_novos_raw.iterrows():
            dados.append({
                "Ano": ano,
                "Mês": mes,
                "Nm Cidade" : row['Nm Cidade'],
                "Região": row["Região"]
                 })

df_novos_raw = pd.DataFrame(dados)
df_novos_raw['Periodo'] = df_novos_raw['Ano'].astype(str) + '-' + df_novos_raw['Mês'].astype(str).str.zfill(2)

df_novos_2024 = df_novos_raw[df_novos_raw['Ano'] == 2024]
df_novos_2024.drop(columns=['Ano','Mês'], inplace=True)
df_novos_2024.groupby('Periodo')['Região'].count() .sum()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_4828\604163167.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_novos_2024.drop(columns=['Ano','Mês'], inplace=True)

np.int64(121)

In [20]:
# === 1. Leitura dos dados ===
df_sonia_emanu = pd.read_excel('emauel_sonia.xlsx')
# === 2. Garantir que a coluna de data está no formato datetime ===
df_nfs_masquerade['Dt. emissão'] = pd.to_datetime(df_nfs_masquerade['Dt. emissão'], errors='coerce')

# === 3. Definir a data limite para os "últimos 3 meses" (ex: a partir de fevereiro/2025) ===
data_limite = pd.Timestamp('2025-02-01')

# === 4. Identificar CPFs com nota fiscal emitida após a data limite ===
clientes_com_nf_recent = df_nfs_masquerade[
    df_nfs_masquerade['Dt. emissão'] >= data_limite
]['Clie Cgc Cpf'].unique()

# === 5. Filtrar df_sonia_emanu: manter apenas quem NÃO comprou após a data limite ===
df_sonia_emanu_sem_nf_recent = df_sonia_emanu[
    ~df_sonia_emanu['Cgc Cpf'].isin(clientes_com_nf_recent)
]

# === 6. Obter a data da última compra de cada cliente (mesmo que antiga) ===
ultima_compra = df_nfs_masquerade.groupby('Clie Cgc Cpf')['Dt. emissão'].max().reset_index()
ultima_compra.rename(columns={'Dt. emissão': 'Dt. última compra'}, inplace=True)

# === 7. Juntar a última compra no DataFrame filtrado ===
df_sonia_emanu_sem_nf_recent = df_sonia_emanu_sem_nf_recent.merge(
    ultima_compra,
    how='left',
    left_on='Cgc Cpf',
    right_on='Clie Cgc Cpf'
)

# === 8. Limpar colunas duplicadas do merge (opcional) ===
df_sonia_emanu_sem_nf_recent.drop(columns=['Clie Cgc Cpf'], inplace=True)

# === 9. Exportar para Excel ===
df_sonia_emanu_sem_nf_recent.to_excel('emauel_sonia2.xlsx', index=False)

In [92]:
# Caminho do relatório
path_relatorio = r"G:\Meu Drive\MASQUERADE\FINANCEIRO\RELATORIOS\CLIENTES-NOVOS\clientes_novos_região_08-2024_06-2025.xlsx"
workbook = xlsxwriter.Workbook(path_relatorio)
worksheet = workbook.add_worksheet('Relatório')

# Linha inicial
linha = 0

# Estilos
titulo = workbook.add_format({
    'bold': True, 
    'bg_color': "#A7A7A7", 
    'border': 6,
    'align': 'center', 'valign': 'vcenter'
})
cols = workbook.add_format({
    'border': 6, 
    'bold': True,
    'bg_color': "#72AC76", 
    'align': 'center', 'valign': 'vcenter'
})
infos = workbook.add_format({
    'border': 2, 
    'align': 'center', 'valign': 'vcenter'
})

# Cabeçalho principal
worksheet.merge_range("A1:H1", "RELATÓRIO DE CLIENTES NOVOS POR REGIÃO - 2024 - 2025", titulo)
linha += 2

# ---- Preparação dos dados

# Pivot
df_pivot = df_novos_raw.pivot_table(index='Periodo', columns='Região', aggfunc='size', fill_value=0)

# Garante todas as regiões
regioes = ['Centro-Oeste', 'Nordeste', 'Norte', 'Sudeste', 'Sul']
for reg in regioes:
    if reg not in df_pivot.columns:
        df_pivot[reg] = 0

df_pivot = df_pivot[regioes]
df_pivot['Total'] = df_pivot.sum(axis=1)
df_pivot.reset_index(inplace=True)

# Filtra por ano
df_2024 = df_pivot[df_pivot['Periodo'].str.startswith('2024')]
df_2025 = df_pivot[df_pivot['Periodo'].str.startswith('2025')]

headers = ['Período'] + regioes + ['Total']

# Função para escrever DataFrame
def escrever_df(worksheet, df, linha, format_info):
    for _, row in df.iterrows():
        for col, colname in enumerate(df.columns):
            worksheet.write(linha, col, row[colname], format_info)
        linha += 1
    return linha

# ---------- BLOCO 2024 ----------
worksheet.write(linha, 0, "2024", titulo)
linha += 1

for col, header in enumerate(headers):
    worksheet.write(linha, col, header, cols)
linha += 1

linha = escrever_df(worksheet, df_2024, linha, infos)

totais_2024 = df_2024[regioes + ['Total']].sum()
worksheet.write(linha, 0, 'Total 2024', cols)
for col, val in enumerate(totais_2024, start=1):
    worksheet.write(linha, col, val, infos)
linha += 2

# ---------- BLOCO 2025 ----------
worksheet.write(linha, 0, "2025", titulo)
linha += 1

for col, header in enumerate(headers):
    worksheet.write(linha, col, header, cols)
linha += 1

linha = escrever_df(worksheet, df_2025, linha, infos)

totais_2025 = df_2025[regioes + ['Total']].sum()
worksheet.write(linha, 0, 'Total 2025', cols)
for col, val in enumerate(totais_2025, start=1):
    worksheet.write(linha, col, val, infos)

# Finaliza o arquivo
workbook.close()