# libs & configs

In [12]:

import pandas as pd
from pandas import to_datetime as pdDatetime
from datetime import datetime
from dateutil.relativedelta import relativedelta
from pandas import to_numeric as pdNumeric
import os
import sys
from collections import defaultdict

In [13]:
# pega o diretorio acima de noteboosks, ou seja o do projeto principal
# current_dir = os.path.dirname(os.path.abspath(__file__)) - # isso nao funciona no jupyter , pois o __file__ e exclusivo de scrpit py
current_dir = os.getcwd()

# muda o diretorio para o projeto --
# isso é necessario para que o python consiga importar os modulos do projeto
# caso contrario, ele nao consegue achar os modulos
project_root = os.path.join(current_dir, '..')
sys.path.append(project_root)

In [14]:
from Scripts.functions import GetAno

# 00 - juntando das informações infosfot x Bling

## Regioes

In [42]:
# Criar os dados com abreviações
estados_regiões = {
    "Estado": [
        "Acre", "Alagoas", "Amapá", "Amazonas", "Bahia", "Ceará", "Distrito Federal",
        "Espírito Santo", "Goiás", "Maranhão", "Mato Grosso", "Mato Grosso do Sul",
        "Minas Gerais", "Pará", "Paraíba", "Paraná", "Pernambuco", "Piauí",
        "Rio de Janeiro", "Rio Grande do Norte", "Rio Grande do Sul", "Rondônia",
        "Roraima", "Santa Catarina", "São Paulo", "Sergipe", "Tocantins"
    ],
    "Cd Uf": [
        "AC", "AL", "AP", "AM", "BA", "CE", "DF",
        "ES", "GO", "MA", "MT", "MS",
        "MG", "PA", "PB", "PR", "PE", "PI",
        "RJ", "RN", "RS", "RO", "RR",
        "SC", "SP", "SE", "TO"
    ],
    "Região": [
        "Norte", "Nordeste", "Norte", "Norte", "Nordeste", "Nordeste", "Centro-Oeste",
        "Sudeste", "Centro-Oeste", "Nordeste", "Centro-Oeste", "Centro-Oeste",
        "Sudeste", "Norte", "Nordeste", "Sul", "Nordeste", "Nordeste",
        "Sudeste", "Nordeste", "Sul", "Norte", "Norte",
        "Sul", "Sudeste", "Nordeste", "Norte"
    ]
}

## clientes °

In [43]:
# -- 1 lendo arquivos
df_clients_bling = pd.read_excel(r"..\Data\01-01-23_08-07-25\sh-clientes_bling.xlsx")
df_clients_infosoft = pd.read_excel(r"..\Data\01-01-23_08-07-25\sh-clientes_infosoft.xlsx")

# -- 2 - padroniza os nomes para maior facilidade
df_clients_infosoft.rename(columns={'Cgc Cpf':'Clie Cgc Cpf'}, 
                                inplace=True)
df_clients_bling.rename(columns={'CPF/CNPJ': 'Clie Cgc Cpf',
                                  'Nome':'Descrição', 
                                  'Endereço': 'Endereco',
                                  'UF':'Cd Uf', 
                                  'Cidade':'Nm Cidade', 
                                  'Bairro':'Bairro',
                                'Cliente desde':'Dt Cadastro', 
                                'Email':'E Mail'
                                }, inplace=True)

# -- 3 - faz o full join 
df_clientes_merge = pd.merge(df_clients_infosoft,df_clients_bling,
                                  on='Clie Cgc Cpf',   # chave primaria
                                  how='outer',    # full outer join no pandas       
                                  suffixes=('_infosoft','_bling')) # renomeias o sufixo das colunas (col1_df1,col2_df2...)

# -- 4 - filtrando para todos os clients ou seja '''full join com priorização do df1'''
cols = ['Descrição', 'Endereco', 'Cd Uf','Nm Cidade', 'Bairro', 'Dt Cadastro','E Mail'] # colunas que quero manter (na esquerda)
for col in cols: 
    df_clientes_merge[col] = df_clientes_merge[f'{col}_infosoft'].combine_first(df_clientes_merge[f'{col}_bling']) # where quando a esquerda for vazia colca conteudo da direita, colca tudo na nova coluna 
    
df_clientes_masquerade = df_clientes_merge[['Clie Cgc Cpf'] + cols] # atribui a df final o conteudo completo nas colunas novas sem esquecer da chave primeira

## nfs ~

In [39]:
'''
corrigir cod vendedores bling
nr de pedido

'''


# -- 1 - le os arquivos
df_nfs_bling = pd.read_excel(r"..\Data\01-01-23_08-07-25\sh-nfs_bling.xlsx")
df_nfs_infosoft = pd.read_excel(r"..\Data\01-01-23_08-07-25\sh-nfs_infosoft.xlsx")



# -- 2 - padroniza as colunas para evitar complicações
df_nfs_bling.rename(columns={'Data de emissão':'Dt. emissão', 
                             'Data de Saída/Entrada':'Dt Sai Ent', 
                             'Número':'Nr. nota', 
                             'CNPJ/CPF':'Clie Cgc Cpf',
                             'Código do vendedor':'Cd Vendedor', 
                             'Desconto':'Vl Total Desc', 
                             'Valor total líquido':'Vl Total Nota'
                             },inplace=True)

# -- 3 -  junta as duas df 
df_nfs_masquerade = pd.concat([df_nfs_bling,df_nfs_infosoft], axis=0)

# -- 4 - arrumando vendedores 

# -- 5 - padroniza os tipos
df_nfs_masquerade['Dt Sai Ent'] = pdDatetime(df_nfs_masquerade['Dt Sai Ent'])
df_nfs_masquerade['Dt. emissão'] = pdDatetime(df_nfs_masquerade['Dt. emissão'])
df_nfs_masquerade['Vl Total Desc'] = df_nfs_masquerade['Vl Total Desc'].str.replace(',','')
df_nfs_masquerade['Vl Total Nota'] = df_nfs_masquerade['Vl Total Nota'].str.replace(',','')
df_nfs_masquerade['Vl Total Desc'] = pdNumeric(df_nfs_masquerade['Vl Total Desc'],errors='coerce')
df_nfs_masquerade['Vl Total Nota'] =  pdNumeric(df_nfs_masquerade['Vl Total Nota'],errors='coerce')
df_nfs_masquerade['Nr Pedido'] =  pdNumeric(df_nfs_masquerade['Nr Pedido'],errors='coerce')

## pedidos

In [40]:
df_pedidos_masquerade = pd.read_excel(r"../Data/01-01-23_08-07-25/sh-pedidos_infosoft.xlsx")
df_pedidos_masquerade.rename(columns={'CNPJ - CPF':'Clie Cgc Cpf', 
                                      'Vl. total': 'Vl venda',
                                      'Nr. pedido': 'Nr Pedido'
                                      },inplace=True)

df_pedidos_masquerade['Nr Pedido'] = pdNumeric(df_pedidos_masquerade['Nr Pedido'])
df_pedidos_masquerade['Vl venda'] = df_pedidos_masquerade['Vl venda'].astype(str).str.replace(',','')
df_pedidos_masquerade['Vl venda'] = pdNumeric(df_pedidos_masquerade['Vl venda'])

## produtos

## vendedores °

In [41]:
df_vendedores_masquerade = pd.read_excel(r'..\Data\01-01-23_08-07-25\sh-vendedores_infosoft.xlsx')
df_vendedores_masquerade = df_vendedores_masquerade[~pd.isna(df_vendedores_masquerade['Nm Vendedor'])]
df_vendedores_masquerade['Cd Vendedor'] = df_vendedores_masquerade['Cd Vendedor'].astype(int) 

df_vendedores_masquerade

,aliquota,Nm supervisor,Cd supervisor,Cd Vendedor,Nm Vendedor,Endereco,Cd Uf,Ds Regiao,Bairro,Dt Cadastro,E Mail
1,7.0,ALDO,1.0,1,ALDO,NaN,NaN,NORTE,NaN,NaN,acz7@terra.com.br
4,7.0,FLAVIO E LILIAN,2.0,2,FLAVIO E LILIAN,NaN,NaN,NaN,NaN,43537.0,flavioelilian@hotmail.com
7,7.0,NaN,NaN,3,AV,NaN,NaN,NaN,NaN,43537.0,NaN
10,7.0,NaN,NaN,4,GERARDO,NaN,NaN,NaN,NaN,43537.0,NaN
13,7.0,NaN,NaN,5,ARLEY,NaN,NaN,NaN,NaN,43537.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
319,7.0,NaN,NaN,107,JOÃO PAULO RIO DE JANEIRO,NaN,NaN,NaN,NaN,45672.0,NaN
322,7.0,NaN,NaN,108,PAULO RIO DE JAINEIRO,NaN,NaN,NaN,NaN,45684.0,NaN
325,7.0,NaN,NaN,109,CAIO MARCELO VIGHI VISCARD E CIA LT,NaN,NaN,NaN,NaN,45833.0,NaN
328,7.0,ANDREIA,64.0,110,AMERIPEL CARLOS,NaN,NaN,NaN,NaN,45834.0,NaN
329,NaN,EQUIPE VIP,NaN,0,EQUIPE VIP,NaN,NaN,NaN,NaN,NaN,NaN


# 15 - faturamento completo mes ano, por "produto"

In [ ]:
''' mes / papelaria / mer_livre / sapatilha / eventos / modinha / puerilcultura / total 

total: / ....... /'''

##  16 - faturameno completo mes indivdual separado (modelo)

In [ ]:
'''
mes 
papelaria 
 mer_livre 
sapatilha 
eventos 
 modinha 
puerilcultura 
total 
'''

In [ ]:
# 1 preenchendo o modelo

# 05 - resumo de venda/faturamento - fechamento anual

In [ ]:
''' mes-ano / vendas / faturado 
total / .../ '''

Index(['Dt. emissão', 'Nr. nota', 'Nr Pedido', 'Clie Cgc Cpf', 'Cd Vendedor',
       'Vl Total Nota'],
      dtype='object')

In [102]:
# -- 1 - defines as bases de dados e trata certas colunas
df_nfs = df_nfs_masquerade[['Nr. nota','Dt. emissão', 'Nr Pedido', 'Vl Total Nota']]   
df_pedidos = df_pedidos_masquerade.copy()

# -- 2 -  defines as colunas do DataFrame
# colunas = ['mes-ano', 'vendas', 'faturamento']    
colunas = ['Nr. nota','Dt. emissão', 'Nr Pedido', 'Vl Total Nota']    
df_raw_mes_ano = pd.DataFrame(columns=colunas)

# -- 4 - coloca as informações no df princpal
df_raw_mes_ano = pd.concat([df_raw_mes_ano, df_nfs], axis=0)

# -- 5 - faz merge para epgar valor do pedido
df_raw_mes_ano = df_raw_mes_ano.merge(df_pedidos[['Nr Pedido', 'Vl venda']], 
                                                      on='Nr Pedido', how='left')

# -- 3 - pega os anos
anos = [2024, 2025]

# -- 4 - filtra com base nos anos e deixa penas o mes e o ano 
df_raw_mes_ano = df_raw_mes_ano[ # filtro
            (df_raw_mes_ano['Dt. emissão'].dt.year == anos[0]) |
            (df_raw_mes_ano['Dt. emissão'].dt.year == anos[1]) 
            ] 

df_raw_mes_ano['Dt. emissão'] = df_raw_mes_ano['Dt. emissão'].dt.to_period('M')

# -- 5 - atribui a noss df prinsipal 
df_faturamento_mes_ano = df_raw_mes_ano[['Dt. emissão', 'Vl venda','Vl Total Nota']]

# -- 6 - filtra por mes e soma venda e faturamento 
df_faturamento_mes_ano = df_faturamento_mes_ano.groupby('Dt. emissão')[['Vl venda','Vl Total Nota']].sum()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_10220\1684062161.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_raw_mes_ano = pd.concat([df_raw_mes_ano, df_nfs], axis=0)

In [104]:
df_faturamento_mes_ano.to_excel(r"..\reports\mes-ano.xlsx",index=False)

In [105]:
df_faturamento_mes_ano

              Vl venda  Vl Total Nota
Dt. emissão
2024-01      420757.22      441667.22
2024-02      165849.78      165449.78
2024-03      170551.65      170193.65
2024-04      271710.79      271023.82
2024-05      180781.29      184094.09
2024-06      381151.45      381450.16
2024-07      233164.85      233570.48
2024-08      430336.36      454616.36
2024-09      317589.82      319600.45
2024-10      270778.21      271198.36
2024-11      279273.89      280820.09
2024-12      336424.96      365235.35
2025-01      276763.86      291161.23
2025-02      211163.38      211163.38
2025-03      126098.54      126098.54
2025-04       46132.68       65323.15
2025-05      224071.17      244773.86
2025-06      195158.29      195158.29
2025-07       43193.10       43193.10
2025-08        5729.97        5729.97
2025-10       46959.10       46959.10
2025-11       29100.32       29100.32
2025-12        9513.26        9513.26

# 09 - comissões por periodos

In [57]:
''' 
supervisor
nm_vendedor
data / nf / cliente / venda / faturado / aliquota / comissão / cliente_nv / total
nm_vendedor / faturado
3% supervisor / subtotal
total / 
'''

' \nsupervisor\nnm_vendedor\ndata / nf / cliente / venda / faturado / aliquota / comissão / cliente_nv / total\nnm_vendedor / faturado\n3% supervisor / subtotal\ntotal / \n'

In [93]:
# -- 1 - defino as coluas de nossa df bruta e trago as df necessrias para o relatorio 
colunas = ['Clie Cgc Cpf','Dt. emissão', 'Nr. nota', 'Cd Vendedor', 'Vl Total Nota', 'aliquota', 'comissao', 'total']
df_comission_raw = pd.DataFrame(columns=colunas)
df_vendedores = df_vendedores_masquerade.copy() # para pegar o vendedor
df_clientes = df_clientes_masquerade.copy() # para pegar o cliente
df_pedidos = df_pedidos_masquerade.copy() # para pegar os pedidos
df_nfs = df_nfs_masquerade[['Dt. emissão', 'Nr. nota','Nr Pedido', 'Clie Cgc Cpf', 'Cd Vendedor', 'Vl Total Nota']]

# -- 1 - atribuindo infos das nfs 
df_comission_raw = pd.concat([df_comission_raw,df_nfs], axis=0)

# -- 2 - defininido o periodo (mes e ano) e filtrando nossa df
ano = 2025
mes = 6
df_comission_raw = df_comission_raw[(df_comission_raw['Dt. emissão'].dt.year == ano) & 
                (df_comission_raw['Dt. emissão'].dt.month == mes)]

# -- 3 - fazer um semi join (pega apegas nfs que tivrem com cd vendedor) - por preucação
df_comission_raw = df_comission_raw[df_comission_raw['Cd Vendedor'].isin(df_vendedores['Cd Vendedor'])] #  pandas não tem suporte direto para semi join o jeito a epanas filtrar oque e muito pratico!

# -- 4 - fazer merge para epgar o nome dos vendedores pelo cod, posteriormente pegar o supervisor e aliquota tambem 
df_comission_raw['aliquota'] = 7 # temporario
df_comission_raw = df_comission_raw.merge(df_vendedores[['Cd Vendedor', 'Nm Vendedor','Nm supervisor']], 
                             on='Cd Vendedor', how='left')

# -- 5 - fazer merge para pegar o nome do cliente (left join em duas colunas basicamente..)
df_comission_raw = df_comission_raw.merge(df_clientes[['Clie Cgc Cpf', 'Descrição']],
                      on='Clie Cgc Cpf', how='left')

# -- 6 - merge para pegar o valor do pedido
df_comission_raw = df_comission_raw.merge(df_pedidos[['Nr Pedido', 'Vl venda']],
                      on='Nr Pedido', how='left')

# -- 7 -  definindo comissão a ser recebida 
df_comission_raw['comissao'] = df_comission_raw['Vl Total Nota']*(df_comission_raw['aliquota']/100)

# -- 8 - definindo clientes novos
df_clientes_novos = df_clientes[df_clientes['Dt Cadastro'] > datetime(ano, mes, 1)]
df_clientes_novos['cliente_nv'] = 20

# -- 9 - fazendo merge para atribuir os clientes novos 
df_comission_raw = df_comission_raw.merge(df_clientes_novos[['Clie Cgc Cpf', 'cliente_nv']],
                      on='Clie Cgc Cpf', how='left', suffixes=('_raw','_new'))

# -- 10 - definindo comissão total 
df_comission_raw['total'] = df_comission_raw['cliente_nv'].fillna(0)+df_comission_raw['comissao'].fillna(0)

# --  - atribuindo informações a nossa df principal
df_comission = df_comission_raw[['Nm supervisor', 'Nm Vendedor','Dt. emissão', 'Nr. nota','Descrição','Vl venda', 'Vl Total Nota','aliquota','comissao','cliente_nv','total']]

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_10220\543630500.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_comission_raw = pd.concat([df_comission_raw,df_nfs], axis=0)
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_10220\543630500.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clientes_novos['cliente_nv'] = 20

In [59]:
df_comission.to_excel(r"..\reports\comissão-06-paga-07.xlsx",index=False)

# 01 - clientes novos por regiao por periodo ou vendedor

In [ ]:
''' mes / centro oeste / ...... / sul / total
total / ..... /  '''

In [64]:
# -- 1 - definindo dfs e colunas
df_clientes = df_clientes_masquerade[['Cd Uf','Nm Cidade','Dt Cadastro']]
df_estados_regiões = pd.DataFrame(estados_regiões)
df_novos = ['regiao', 'Nm cidade', 'Quant']

# -- 2 - definindo a região 
df_clientes = df_clientes.merge(df_estados_regiões[['Cd Uf', 'Região']],
                                on='Cd Uf', how='left' )

# -- 3 definindo periodo 
anos_meses = {2024: [8,9,10,11,12],
        2025: [1,2,3,4,5,6]}

# -- 4 - filtrando pelo peridodo
dados = [] # paera pord4er atribuir tudo depois 

for ano, meses in anos_meses.items():
    for mes in meses:
        primeiro_dia = datetime(ano, mes, 1)
        ultimo_dia = (primeiro_dia + relativedelta(months=1)) - relativedelta(days=1)
        
        df_novos_raw = df_clientes[
            (df_clientes['Dt Cadastro'] >= primeiro_dia) & 
            (df_clientes['Dt Cadastro'] <= ultimo_dia)
        ]

        for index, row in df_novos_raw.iterrows():
            dados.append({
                "Ano": ano,
                "Mês": mes,
                "Nm Cidade" : row['Nm Cidade'],
                "Região": row["Região"]
                 })

df_novos_raw = pd.DataFrame(dados)

In [68]:
# -- 1. Criar coluna "Mês/Ano" formatada
df_novos_raw['Periodo'] = df_novos_raw['Ano'].astype(str) + '-' + df_novos_raw['Mês'].astype(str).str.zfill(2)

# -- 2. Criar tabela dinâmica
tabela = pd.pivot_table(
    df_novos_raw,
    index='Periodo',
    columns='Região',
    values='Nm Cidade',
    aggfunc='count',
    fill_value=0
)

# -- 3. Adicionar coluna "Total" com soma das regiões
tabela['Total'] = tabela.sum(axis=1)

# -- 4. (Opcional) Reordenar colunas manualmente
ordem_regioes = ['Centro-Oeste', 'Nordeste', 'Norte', 'Sudeste', 'Sul']
tabela = tabela[[col for col in ordem_regioes if col in tabela.columns] + ['Total']]

# -- Resultado
print(tabela)
df_novos_raw

Região   Centro-Oeste  Nordeste  Norte  Sudeste  Sul  Total
Periodo
2024-08             1         0      0        8    8     17
2024-09             3         3      2        5    1     14
2024-10             1         0      0        2    0      3
2024-11             0         1      0        4    0      5
2024-12             0         1      1        2    0      4
2025-01             0         3      2        5    3     13
2025-02             2         0      0        0    0      2
2025-03             0         0      0        4    0      4
2025-04             0         0      0        1    0      1
2025-05             0         0      0        3    3      6
2025-06             6         0      1        2    1     10

     Ano  Mês             Nm Cidade        Região  Periodo
0   2024    8             SAO PAULO       Sudeste  2024-08
1   2024    8            TAIOBEIRAS       Sudeste  2024-08
2   2024    8                 PENHA           Sul  2024-08
3   2024    8               SORRISO  Centro-Oeste  2024-08
4   2024    8             SAO PAULO       Sudeste  2024-08
..   ...  ...                   ...           ...      ...
74  2025    6  NOVA ALVORADA DO SUL  Centro-Oeste  2025-06
75  2025    6              BRASILIA  Centro-Oeste  2025-06
76  2025    6          SANTO CRISTO           Sul  2025-06
77  2025    6               GOIANIA  Centro-Oeste  2025-06
78  2025    6                LAVRAS       Sudeste  2025-06

[79 rows x 5 columns]